<div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Solicitar Viaje</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <form>
              <div class="row">
                <div class="col-6">
                  <app-input placeholder="Origen" autocomplete="start" error="El nombre de usuario es requerido" [control]="form.get('username')">
                  </app-input>
                </div>
                <div class="col-6">
                    <app-input placeholder="Destino" autocomplete="end" type="password" error="La contraseña es requerida" [control]="form.get('password')">
                    </app-input>
                  </div>
              </div>
              <div class="row mt-2">
                  <div class="col-6">
                    <app-input placeholder="Fecha" autocomplete="date" error="El nombre de usuario es requerido" [control]="form.get('username')">
                    </app-input>
                  </div>
                  <div class="col-6">
                      <app-input placeholder="Hora" autocomplete="time" error="La contraseña es requerida" [control]="form.get('password')">
                      </app-input>
                    </div>
                </div>
            </form>
          </mat-card-content>
          <div class="row">
            <div class="col-6">
              <mat-card-actions>
                <button mat-raised-button color="primary" (click)="submit()">
                  Solicitar Viaje
                </button>
              </mat-card-actions>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
