<mat-sidenav-container>
  <mat-sidenav #sidenav mode="push">
    <div>
      <div class="row mt-2">
          <div class="col-3">
              <mat-icon>account_circle</mat-icon>
            </div>
            <div class="col-9">
              <div>
                  <h5>Juan Perez</h5>
              </div>
              <div>
                <p>4.8</p>
              </div>
            </div>
      </div>
    </div>
    <mat-list style="padding-top: 0px">
      <mat-divider></mat-divider>
      <mat-list-item>
        <div
          routerLinkActive="active"
          [routerLink]="['serv']"
          (click)="sidenav.toggle()"
        >
          Servicio
        </div>
      </mat-list-item>

      <mat-divider></mat-divider>
      <mat-list-item>
        <div
          routerLinkActive="active"
          [routerLink]="['historial']"
          (click)="sidenav.toggle()"
        >
          Historial
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <div
          routerLinkActive="active"
          [routerLink]="['pago']"
          (click)="sidenav.toggle()"
        >
          Metodo de Pago
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <header>
      <div class="row">
        <div class="col-2">
          <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <div class="col-10"><h1>Taxi Único</h1></div>
      </div>
    </header>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
