<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Historial de Viajes</mat-card-title>
        </mat-card-header>

        <div class="row">
          <div class="col-8">
            <mat-card-content>
              <form>
                <div class="row">
                  <div class="col-6">
                    <mat-form-field>
                      <input matInput placeholder="Taxista" />
                    </mat-form-field>
                  </div>
                  <div class="col-6">
                    <mat-form-field>
                      <input matInput placeholder="Cliente" />
                    </mat-form-field>
                  </div>
                </div>
              </form>
            </mat-card-content>
          </div>
          <div class="col-4">
            <mat-card-actions>
              <button mat-raised-button color="primary">Buscar</button>
            </mat-card-actions>
          </div>
        </div>
        <div class="row"></div>
      </mat-card>
    </div>
  </div>
</div>
