<header>
  <h1>Taxi Unico</h1>
</header>
<body>
  <mat-sidenav-container>
      <mat-sidenav #sidenav mode="push" open>
          <mat-list style="padding-top: 0px">
              <mat-divider></mat-divider>
              <mat-list-item>
                  <div  routerLinkActive="active"
                        [routerLink]="['clients']"
                        (click)="sidenav.toggle()">
                    Clientes
                  </div>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                  <div  routerLinkActive="active"
                        [routerLink]="['taxis']"
                        (click)="sidenav.toggle()">
                    Taxistas
                  </div>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                  <div  routerLinkActive="active"
                        [routerLink]="['details']"
                        (click)="sidenav.toggle()">
                    Consultar Servicios
                  </div>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                  <div  routerLinkActive="active">
                    Encuestas
                  </div>
              </mat-list-item>
              <mat-divider></mat-divider>
            </mat-list>
      </mat-sidenav>
      <mat-sidenav-content>
          <p><button mat-button (click)="sidenav.toggle()">Menu</button></p>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
</body>
